img {
    width: 25vh;
    padding: 5vh;
    background-color: pink;
    border-radius: 33%
}

body{
    margin-left: 5vh;
    max-width: 70vh;
    background-color:lightgoldenrodyellow;
}

h1{
    border-style: double;
    padding: 1vh;
    display:table; 
    background-color:gold;
}

ul{
    background-color: pink;
    padding-right: 5vh;
    border-radius: 5%;
}

p{
    max-width: 50vh;
    background-color:rgb(210, 217, 224);
    border-style: ridge;
    border-radius:10%;
    border-width: 1vh;
    display:table;
}

h2{
    text-decoration: underline;
    text-decoration-color: darkred;
    display: table;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5vh;
}

form{
    display: flex;
    flex-direction: column;
    background-color:pink;
    padding:3vh;
    border-radius:10%
}

.top a{
    padding: 2vh;
}

.top a:hover{
    background-color: maroon;
    color: white;
    border-radius:33%;
    transition: 0.5s;
}